*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  font: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Commissioner", sans-serif;
  font-size: 1.4rem;
  color: #7a7a7a;
  height: auto;
  display: grid;
  place-items: center;
}

img,
picture,
svg,
video {
  display: block;
  width: 100%;
}

.wrapper {
  width: 37.5rem;
  line-height: 2.4rem;
  background-color: #fafafa;
}

.header {
  width: 100%;
  height: 30rem;
  background-image: url("images/image-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 3.2rem 2.4rem 0;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}

/************ SECTION - MAIN ************/

.main__content {
  padding: 0 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  border-radius: 0.8rem;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #fff;

  padding: 3.3rem 2.4rem 4rem 2.4rem;
}

.cta__section {
  gap: 2.4rem;
  text-align: center;
  margin-top: -5.5rem;
}

.logo--icon {
  margin-top: -6rem;
  height: 5.6rem;
  width: 5.6rem;
}

.heading--cta {
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  line-height: normal;
  max-width: 27rem;
}

.text--cta {
  margin-top: -0.8rem;
}

.btns__box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn {
  border-radius: 33.5px;
  background: #3cb3ab;
  color: #fff;
  border: none;
  font-weight: 700;
}

.btn__main {
  font-size: 1.6rem;
  padding: 1.8rem 4.2rem;
}

.bookmark span {
  display: none;
}

.btn__bookmark {
  height: 5.6rem;
  width: 5.6rem;
  border: none;
  background-color: transparent;
}

/************ SECTION - STATS ************/

.stats__section {
  text-align: center;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 3.2rem;
}

.stats__box {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.number__big {
  color: #000;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: normal;
}

.border {
  height: 1px;
  width: 8rem;
  background-color: #000;
  opacity: 0.15;
}

.stats__line {
  width: 100%;
  height: 1.2rem;
  border-radius: 33.5px;
  background-color: rgba(47, 47, 47, 0.05);
  position: relative;
  overflow: hidden;
}

.green {
  height: 1.2rem;
  width: 80%;
  background-color: #3cb3ab;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 33.5px;
}

/***************** ABOUT SECTION *****************/

.about__heading {
  color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2.4rem;
}

.about__text {
  line-height: 24px;
  margin-bottom: 3.5rem;
}

.reward {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 2.4rem;
}

.reward__heading {
  color: #000;
  font-weight: 700;
}

.pledge__heading {
  color: #3cb3ab;
  font-weight: 500;
  margin-bottom: 2.4rem;
}

.left__box {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.reward__number {
  color: #000;
  font-size: 3.2rem;
  font-weight: 700;
}

.btn__reward {
  padding: 1.5rem 3.2rem;
}

/**********************************/
/***************** DESKTOP SIZE *****************/
/**********************************/

@media only screen and (min-width: 90em) {
  body {
    font-size: 1.6rem;
  }

  .wrapper {
    width: 144rem;
  }

  .header {
    background-image: url("images/image-hero-desktop.jpg");
    height: 40rem;
    padding: 4.8rem 16.6rem 0;
  }

  /************ SECTION - MAIN ************/

  .main__content {
    padding: 0 35.5rem;
  }

  .section__wrapper {
    padding: 3.3rem 4.8rem 4.8rem 4.8rem;
  }

  .cta__section {
    gap: 2.8rem;
    margin-top: -8.2rem;
  }

  .heading--cta {
    font-size: 2rem;
    max-width: max-content;
  }

  .text--cta {
    margin-bottom: 1.2rem;
  }

  .bookmark {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    background-color: rgba(47, 47, 47, 0.05);
    border-radius: 33.5px;
    width: 17.4rem;
  }

  .bookmark span {
    display: block;
    font-weight: 700;
  }

  .btn__bookmark {
    display: flex;
  }

  /************ SECTION - STATS ************/

  .stats__section {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 3.2em;
  }

  .stats {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    margin-bottom: 0rem;
  }

  .stats__box {
    gap: 0.9rem;
  }

  .number__big {
    color: #000;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: normal;
  }

  .border {
    height: 1px;
    transform: rotate(90deg);
  }

  .stats__line {
    flex: 1 0 auto;
    height: 1.2rem;
    border-radius: 33.5px;
    background-color: rgba(47, 47, 47, 0.05);
    position: relative;
    overflow: hidden;
  }

  .green {
    height: 1.2rem;
    width: 80%;
    background-color: #3cb3ab;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 33.5px;
  }

  /***************** ABOUT SECTION *****************/

  .about__heading {
    font-size: 2rem;
    margin-bottom: 3.5rem;
  }

  .about__text {
    line-height: 30px;
  }

  .reward__heading--box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;
  }

  .reward__text {
    line-height: 30px;
  }

  .btn__left--box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.4rem;
  }

  .reward {
    padding: 3.8rem 3.2rem 3.2rem 3.2rem;
  }

  .reward__heading {
    font-size: 1.8rem;
  }

  .pledge__heading {
    margin-bottom: 0rem;
    font-size: 1.5rem;
  }

  .left__box {
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
  }

  .btn__reward {
    padding: 1.5rem 3.2rem;
  }
}
